// ---------------------------------------------------------------------------------------------------------------------
// Fonts
$font-default: 'Source Sans Pro', 'Times New', serif !default;
$font-default-size: 14px !default;
$font-default-color: #555;