// Import
// ---------------------------------------------------------------------------------------------------------------------
@import 'variables';

@import 'qxgo/variables';
@import 'qxgo/mixins';
@import 'qxgo/normalize';
@import 'qxgo/grid';
@import 'qxgo/form';
@import 'qxgo/navigation';
@import 'qxgo/scaffolding';
@import 'qxgo/helper';
@import 'qxgo/structure';
@import 'qxgo/message';
@import 'qxgo/list';

@import 'container';
@import 'object';

// Import
// ---------------------------------------------------------------------------------------------------------------------
body {
	margin: 0;
	padding: 0 0 0 0;
	background: $grey-light;
}